*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
.row{
  width:60%;
}
.myRow{
  width:80%;
}
.myBackground{
  background:#eee2dc;
}
.myImage{
  margin:auto;
  width:20em;
}
.myPara{
  font-family:Helvetica;
  font-size:18px;
}
.fa-tree {
  font-size:2em;
}
